* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.app {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pomodoro {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: xxx-large;
}

.timer {
  font-size: 100px;
  font-weight: lighter;
}

.submit-button{
  background-color: transparent;
  font-weight: 600;
  border: none;
  padding: 24px 20px;
  font-size: 20px;
  color: gray;
  text-decoration: underline;
}

.submit-button:hover {
  cursor: pointer;
}

.title {
  font-size: 72px;
  padding: 48px 0;
  color: #ffa500;
}

.change-button {
  background: transparent;
  justify-content: center;
  position: center;
  border: none;
  width: 50px;
}

.single-button {
  justify-content: center;
  flex-direction: column;
  padding-left: 195px;
}

.change-button:hover {
  cursor: pointer;
}

.sound-button {
  background-color: transparent;
  font-weight: 600;
  border: none;
  padding: 24px 20px;
  font-size: 20px;
  color: gray;
  text-decoration: underline;
}

.timer-amount {
  font-weight: 600;
  font-size: 30px;
  border: none;
  padding: 24px 30px;
  color: gray;
}

.sound-button:hover {
  cursor: pointer;
}

.setting-button {
  background-color: transparent;
  font-weight: 600;
  border: none;
  padding: 24px 20px;
  font-size: 20px;
  color: grey;
  text-decoration: underline;
}

.setting-button:hover {
  cursor: pointer;
}

main {
  padding: 100px;
}

.circles {
  display: flex;
  font-family: "Poppins", sans-serif;
  padding: 40px;
}